<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/markdown.css" />
    <link rel="stylesheet" href="/styles/pygments.min.css" />
    <title>{{ page.title }} - Blog - Zhigang Zhang</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a class="active" href="/blog">Blog</a>
    </nav>
    <header>
      <h1>Zhigang Zhang's Blog</h1>
      <p>an idealist's cheap talk</p>
    </header>
    <div>
      <article>
        <header>
          <h2>{{ page.title }}</h2>
        </header>
        <section class="md">
        {{ content }}
        </section>
        <footer>
          <p>Posted: <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time></p>  
        </footer>
        <aside>
          <p>未经许可 禁止转载。</p>
          <p>prohibit reproduce without permission</p>
        </aside>
        <div id="disqus_thread"></div>
      </article>
    </div>
    <footer>
      <p>2014-2024 &copy; hizzgdev.github.io</p>
    </footer>
  </div>
</body>
<script>var disqus_shortname='hizzgdev';</script>
<script src="//hizzgdev.disqus.com/embed.js" async></script>
<script src="/scripts/analytics.js"></script>
</html>
