<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/loading.css" />
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <title>Blog - Zhigang Zhang</title>
    <link rel="alternate" type="application/rss+xml" title="Zhigang Zhang's Blog" href="blog-rss.xml" />
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a class="active" href="/blog.html">Blog</a>
      <a href="/works.html">Works</a>
      <a href="/profile.html">Profile</a>
    </nav>
    <header>
      <h1>Zhigang Zhang's Blog</h1>
      <p>an idealist's cheap talk</p>
    </header>
    <div>
      <ul class="blog-list">
      {{ content }}
      </ul>
    </div>
    <footer>
      <p>2014 &copy; hizzgdev.github.io</p>
    </footer>
  </div>
</body>
<script src="/scripts/analytics.js"></script>
</html>
