.md a { color: #4183C4; text-decoration:none; }
.md a:hover { text-decoration:underline; }
.md a.absent { color: #cc0000; }
.md a.anchor { display: block; padding-left: 30px; margin-left: -30px; cursor: pointer; position: absolute; top: 0; left: 0; bottom: 0; }
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 { margin: 20px 0 20px; padding: 0; font-weight: bold; -webkit-font-smoothing: antialiased; font-family:"Microsoft YaHei";}
.md h1:hover a.anchor, .md h2:hover a.anchor, .md h3:hover a.anchor, .md h4:hover a.anchor, .md h5:hover a.anchor, .md h6:hover a.anchor {text-decoration: none; }
.md h1 tt, .md h2 tt, .md h3 tt, .md h4 tt, .md h5 tt, .md h6 tt, .md h1 code, .md h2 code, .md h3 code, .md h4 code, .md h5 code, .md h6 code { font-size: inherit; }
.md h1 { font-size: 24px; color: black; }
.md h2 { font-size: 18px; border-bottom: 1px solid #eee; color: #000; padding:10px 0; }
.md h3 { font-size: 16px; }
.md h4 { font-size: 16px; }
.md h5 { font-size: 16px; }
.md h6 { color: #777777; font-size: 16px; }
.md p, .md blockquote, .md ul, .md ol, .md dl, .md li, .md table, .md pre { margin: 5px 0; color:#333;}
.md hr { border: 0 none; color: #ccc; height: 4px; padding: 0; }
.md p { line-height:26px; margin-bottom: 10px; font-size:16px; text-indent:32px;}
.md li p.first { display: inline-block; }
.md ul, .md ol { margin-left:23px; margin-bottom:10px; padding-left:32px; }
.md ul :first-child, .md ol :first-child { margin-top: 0; }
.md ul :last-child, .md ol :last-child { margin-bottom: 0; }
.md dl { padding: 0; }
.md dl dt { font-size: 14px; font-weight: bold; font-style: italic; padding: 0; margin: 15px 0 5px; }
.md dl dt:first-child { padding: 0; }
.md dl dt > :first-child { margin-top: 0; }
.md dl dt > :last-child { margin-bottom: 0; }
.md dl dd { margin: 0 0 15px; padding: 0 15px; }
.md dl dd > :first-child { margin-top: 0; }
.md dl dd > :last-child { margin-bottom: 0; }
.md blockquote { border-left: 4px solid #dddddd; padding: 0 15px; color: #333; font-family:consolas,courier ; font-size:12px; margin:10px 0; }
.md blockquote > :first-child { margin-top: 0; }
.md blockquote > :last-child { margin-bottom: 0; }
.md table { padding: 0; }
.md table tr { border-top: 1px solid #cccccc; background-color: white; margin: 0; padding: 0; }
.md table tr:nth-child(2n) { background-color: #f8f8f8; }
.md table tr th { font-weight: bold; border: 1px solid #cccccc; text-align: left; margin: 0; padding: 6px 13px; }
.md table tr td { border: 1px solid #cccccc; text-align: left; margin: 0; padding: 6px 13px; }
.md table tr th :first-child, .md table tr td :first-child { margin-top: 0; }
.md table tr th :last-child, .md table tr td :last-child { margin-bottom: 0; }
.md img { max-width: 100%; }
.md span.frame { display: block; overflow: hidden; }
.md span.frame > span { border: 1px solid #dddddd; display: block; float: left; overflow: hidden; margin: 13px 0 0; padding: 7px; width: auto; }
.md span.frame span img { display: block; float: left; }
.md span.frame span span { clear: both; color: #333333; display: block; padding: 5px 0 0; }
.md span.align-center { display: block; overflow: hidden; clear: both; }
.md span.align-center > span { display: block; overflow: hidden; margin: 13px auto 0; text-align: center; }
.md span.align-center span img { margin: 0 auto; text-align: center; }
.md span.align-right { display: block; overflow: hidden; clear: both; }
.md span.align-right > span { display: block; overflow: hidden; margin: 13px 0 0; text-align: right; }
.md span.align-right span img { margin: 0; text-align: right; }
.md span.float-left { display: block; margin-right: 13px; overflow: hidden; float: left; }
.md span.float-left span { margin: 13px 0 0; }
.md span.float-right { display: block; margin-left: 13px; overflow: hidden; float: right; }
.md span.float-right > span { display: block; overflow: hidden; margin: 13px auto 0; text-align: right; }
.md code, tt { margin: 0 2px; padding: 0 5px; white-space: nowrap; border: 1px solid #eaeaea; background-color: #f8f8f8; border-radius: 3px;font-family:consolas,courier; font-size:13px; line-height:20px;  }
.md pre code { margin: 0; padding: 0; white-space: pre; border: none; background: transparent; }
.md .highlight pre { background-color: #f8f8f8; border: 1px solid #cccccc; font-size: 12px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
.md pre { background-color: #f8f8f8; border: 1px solid #cccccc; font-size: 12px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px;}
.md pre code, .md pre tt { background-color: transparent; border: none; white-space: pre-wrap;word-break: break-all; }


@media (prefers-color-scheme: dark) {
    .md p, .md li {color: #aaa;}
}